* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    color: #252429;
}

body{
    background-color: beige;
    padding-top: 100px;
    padding-left: 250px;
}

.container{
    max-width: 960px;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

header img {
    width: 50px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 16px;
}

form{
    display: flex;
    max-width: 200px;
    width: 100%;
    margin-bottom: 30px;
}

form input{
    font-size: 24px;
    font-weight: normal;
    background-color: rgb(255, 255, 242);
    border: 1px solid #252429;
    margin-right: 20px;
    padding: 8px;
}

form button{
    background-color: rgb(220, 245, 230);
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    background-color:rgb(188, 244, 193) ;
}

ul li{
    font-size: 30px;
    font-weight: normal;
    padding: 8px;
}

#tarefasUl{
    cursor: pointer;
}

.finalizado {
    text-decoration: line-through;
}